#ui {
	max-favorite-columns: 8;
	max-index-columns: 8;
	fluid-unit: millibuckets;
	use-batched-renderer: true;
	append-mod-id: true;
	append-item-mod-id: true;
	right-sidebar-theme: modern;
	search-sidebar-focus: index;
	empty-search-sidebar-focus: craftables;
	recipe-book-action: toggle-visibility;
	left-sidepanel-pages: craftables;
	left-sidebar-size: 9, 9;
	left-sidebar-align: right, center;
	left-sidebar-theme: vanilla;
	bottom-sidebar-pages: favorites;
	bottom-sidebar-theme: transparent;
	bottom-sidebar-header: invisible;
}
